<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img [src]="images[0]" alt="Random first slide">
    <div class="carousel-caption">
      <h3>
        <a href="mailto:{{email}}">{{title}}</a>
        <img src="{{logo}}">
      </h3>
      <p>Группа: 10502118</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[1]" alt="Random second slide">
    <div class="carousel-caption">
      <h3>
        <a href="mailto:{{email}}">{{title}}</a>
        <img src="{{logo}}">
      </h3>
      <p>Группа: 10502118</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[2]" alt="Random third slide">
    <div class="carousel-caption">
      <h3>
        <a href="mailto:{{email}}">{{title}}</a>
        <img src="{{logo}}">
      </h3>
      <p>Группа: 10502118</p>
    </div>
  </ng-template>
</ngb-carousel>

<div class="app-container" fxLayout="row">
  <div class="navigation">
    <ul>
      <li *ngFor="let nav of navigation">
        <a [routerLink]="nav.route">
          <img src="{{nav.img ? nav.img :logo}}" width="100" height="50" alt="{{nav.name}}">
          {{nav.name}}
        </a>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>